# =========================================================
# PostgreSQL
# =========================================================

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=ai_knowledge
DB_USER=postgres
DB_PASSWORD=your_database_password


# =========================================================
# JWT
# =========================================================

JWT_SECRET_KEY=your_random_secret_key


# =========================================================
# Qwen / DashScope
# =========================================================

DASHSCOPE_API_KEY=your_api_key